.conference-hall-top {
    background-color: #FFFCF6;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}
.hall-wrap {
    display: flex;
    flex-direction: column;
}
.conferencehall-title {
    color: #1B3B36;
    font-family: Miracle;
    font-size: 14vw;
    font-weight: 400;
    line-height: 14vw; 
    text-transform: uppercase;
    order: -1;
}
.rooms-description {
    padding: 30px 0;
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.bigtext-hall {
    order: 2;
    color: #1B3B36;
    font-family: Miracle;
    font-size: 8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 8vw;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    padding: 20px 0;
}
.hall-description{
    order: 2;
    color: #1B3B36;
    font-family: 'Roboto', sans-serif;
    font-size: 3.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6vw; 
    margin-right: 50px;
}
.section1-img {
    width: 100%;
    height: 400px;
}
.label-hall {
    width: 80px;
    position: absolute;
    right: -30px; top: 205px;
}
.type-halls {
    background-color: #FFFCF6;
}
.orderbtn {
    
    margin-left: 0;
}
.type-hall-wrap {
    display: flex;
    flex-direction: column;
}
.short-text-hall {
    color: #1B3B36;
    font-family: Miracle;
    font-size: 9.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: capitalize;
    text-align: right;
    padding: 30px 0;
    order: 2;
}
.art-hall-img1{
    width: 100%;
    height: 350px;
}
.art-hall-img2{
    display: none;
}
.arthall-description{
    color: #1B3B36;
    font-family: 'Roboto', sans-serif;
    font-size: 3.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6vw; 
    margin-left: 50px;
    padding: 20px 0;
    text-align: right;
    order: 4;
}
.short-text-hall2{
    color: #1B3B36;
    font-family: Miracle;
    font-size: 9.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: capitalize;
    text-align: left;
    padding: 30px 0;
    order: 5;
}
.congress-img1{
    width: 100%;
    height: 350px;
}
.congress-img2{
    display: none;
}
.congresshall-description{
    color: #1B3B36;
    font-family: 'Roboto', sans-serif;
    font-size: 3.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6vw; 
    margin: 20px 50px 40px 0;
    text-align: left;
    order: 7;
}
.btnmargin { order: 1;}
.imghall-wrap { order: 3;}
.imghall-wrap2 {order: 6;}
.orderbtn {order: 8;}
@media (min-width: 481px) and (max-width: 768px){
    .conferencehall-title {
        font-size: 66px;
        line-height: 66px; 
        width: 420px;
    }
    .rooms-description {
        font-size: 16px;
    }
    .bigtext-hall {
        font-size: 38px;
        line-height: 38px;
        width: 420px;
    }
    .hall-description{
        font-size: 18px;
        line-height: 28px; 
        margin-right: 60px;
    }
    .short-text-hall {
        font-size: 46px;
    }
    .arthall-description{
        font-size: 18px;
        line-height: 28px;
        margin-left: 60px;
    }
    .short-text-hall2{
        font-size: 46px;
    }
    .congresshall-description{
        font-size: 18px;
        line-height: 28px;
        margin: 20px 60px 40px 0;
    }
    .congress-img1{
        height: 370px;
    }
    .art-hall-img1{
        height: 370px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .conferencehall-title {
        font-size: 66px;
        line-height: 66px; 
        width: 420px;
    }
    .rooms-description {
        font-size: 18px;
        padding-top: 5px;
    }
    .label-hall {
        right: 15px; top: 200px;
    }
    .section1-img {
        height: 440px;
        padding: 0 40px;
        margin-top: 50px;
        z-index: 2;
    }
    .bigtext-hall {
        font-size: 38px;
        line-height: 38px;
        width: 420px;
        margin-top: 40px;
    }
    .hall-description{
        font-size: 18px;
        line-height: 28px; 
        margin-right: 160px;
    }
    .short-text-hall {
        font-size: 46px;
        margin-top: 40px;
    }
    .arthall-description{
        font-size: 18px;
        line-height: 28px;
        margin-left: 160px;
    }
    .short-text-hall2{
        font-size: 46px;
        margin-top: 40px;
    }
    .congresshall-description{
        font-size: 18px;
        line-height: 28px;
        margin: 20px 160px 40px 0;
    }
    .congress-img1{
        height: 390px;
        padding: 0 40px;
    }
    .art-hall-img1{
        height: 390px;
        padding: 0 40px;
    }
    .orderbtn {
        margin-top: 0;
    }
    .btnmargin {
        margin-top: 0;
        margin-left: auto;
    }
}
@media (min-width: 1025px) and (max-width: 1200px){
    .conferencehall-title {
        font-size: 100px;
        line-height: 95px; 
        width: 420px;
    }
    .rooms-description {
        font-size: 18px;
        padding-top: 5px;
        width: 235px;
        position: absolute;
        right: 0;
    }
    .label-hall {
        right: 20px; top: 250px;
    }
    .section1-img {
        height: 460px;
        padding: 0 40px;
        margin-top: 50px;
        z-index: 2;
    }
    .bigtext-hall {
        font-size: 38px;
        line-height: 38px;
        width: 420px;
        margin-top: 40px;
    }
    .hall-description{
        font-size: 18px;
        line-height: 28px; 
        width: 600px;
    }
    .short-text-hall {
        font-size: 46px;
        margin-top: 40px;
    }
    .arthall-description{
        font-size: 18px;
        line-height: 28px;
        margin-left: auto;
        width: 600px;
        padding: 30px 0;
    }
    .short-text-hall2{
        font-size: 46px;
        margin-top: 40px;
    }
    .congresshall-description{
        font-size: 18px;
        line-height: 28px;
        margin: 30px 0 40px 0;
        width: 600px;
    }
    .congress-img1{
        height: 390px;
        width: 490px;
    }
    .congress-img2{
        display: block;
        width: 490px;
    }
    .art-hall-img2{
        display: block;
        width: 490px;
    }
    .art-hall-img1{
        height: 390px;
        width: 490px;
    }
    .orderbtn {
        margin-top: 0;
    }
    .btnmargin {
        margin-top: 0;
        margin-left: auto;
    }
    .imghall-wrap {
        display: flex;
        justify-content: space-between;
    }
    .imghall-wrap2 {
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 1201px){
    .conferencehall-title {
        font-size: 125px;
        line-height: 105px; 
        width: 420px;
    }
    .rooms-description {
        font-size: 18px;
        padding-top: 5px;
        width: 235px;
        position: absolute;
        right: 0;
    }
    .label-hall {
        right: 130px; top: 270px;
    }
    .section1-img {
        height: 550px;
        padding: 0 150px;
        margin-top: 50px;
        z-index: 2;
    }
    .bigtext-hall {
        font-size: 38px;
        line-height: 38px;
        margin-top: 40px;
    }
    .hall-description{
        font-size: 18px;
        line-height: 28px; 
        width: 800px;
        padding-left: 150px;
    }
    .short-text-hall {
        font-size: 46px;
        margin-top: 40px;
    }
    .arthall-description{
        font-size: 18px;
        line-height: 28px;
        margin-left: auto;
        width: 800px;
        padding: 30px 0;
        padding-right: 150px;
    }
    .short-text-hall2{
        font-size: 46px;
        margin-top: 40px;
    }
    .congresshall-description{
        font-size: 18px;
        line-height: 28px;
        margin: 30px 0 40px 0;
        width: 800px;
        padding-left: 150px;
    }
    .congress-img1{
        height: 420px;
        width: 520px;
    }
    .congress-img2{
        display: block;
        width: 520px;
    }
    .art-hall-img2{
        display: block;
        width: 490px;
    }
    .art-hall-img1{
        height: 410px;
        width: 520px;
    }
    .orderbtn {
        margin-top: 0;
    }
    .btnmargin {
        margin-top: 0;
        margin-left: auto;
    }
    .imghall-wrap {
        padding: 0 150px;
        display: flex;
        justify-content: space-between;
    }
    .imghall-wrap2 {
        padding: 0 150px;
        display: flex;
        justify-content: space-between;
    }
}