@font-face {
    font-family: Miracle;
    src: url('../fonts/Miracle.otf');
}
@font-face {
    font-family: HelveticaNeueLTSTD;
    src: url('../fonts/HelveticaNeueLTStd.otf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* HEADER MENU AND OTHER HEADER */
.header {
    background-color: #313F38;
}
.content-wrap {
    padding: 0 10px;
    margin: 0 auto;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.menu-list {
    display: none;
    list-style: none;
    position: absolute;
}
.main-menu  {
    position: relative;
}
.menu-list a {
    text-decoration: none;
    color: black;
}
.number {
    display: none;
}
.logo {
    color: #FFFCF6;
    font-family: HelveticaNeueLTStd;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.main-menu i {
    color: #FFFCF6;
    font-size: 20px;
}
.menu-list a {
    color: #FFFCF6;
    font-family: HelveticaNeueLTStd;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.header-bottom-top {
    display: flex;
    justify-content: space-between;
}
.name {
    color: #FFFCF6;
    text-align: center;
    font-family: Miracle;
    font-size: 21vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
}
.yellow {
    color: #FCD043;
}
.label-since {
    border: 1px solid #FFFCF6;
    width: 230px;
    height: 65px;
    border-radius: 45px;
    color: #FFFCF6;
    font-family: HelveticaNeueLTStd;
    font-size: 22px;
    font-weight: 400;
    line-height: 65px;
    text-transform: capitalize;
    display: none;
    margin-top: 45px;
}
.star {
    width: 30px;
    margin-right: 10px;
}
.button-down {
    margin-top: 40px;
    display: none;
}

.textyellow {
    color: #FCD043;
    font-family: HelveticaNeueLTStd;
    font-size: 3.2vw;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
}
.description-header {
    color: #FFFCF6;
    text-align: center;
    font-family: HelveticaNeueLTStd;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 200;
    line-height: 23px;
    margin: 0 32px;
}
.line {
    margin: 25px 35px;
    opacity: 0.12;
}
.header-image {
    background-image: url('../img/header.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    margin: 40px 0;
}
.header-table {
    width: 1050px;
    border-collapse: collapse;
    background-color: #FFFCF6;
    text-align: center;
    margin-left: auto;
    background: rgba(49, 63, 56, 0.48);
    backdrop-filter: blur(20px);
    height: 110px;
    display: none;
}
.header-table a {
    color: #1B3B36;
    text-decoration: none;
}
td:not(:last-child) {
    color: #FFFCF6;
    font-family: HelveticaNeueLTStd;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    border-right: 1px solid #FFFCF6;
    opacity: 0.9;
}
td:last-child {
    background-color: #FCD043;
    color: #1B3B36;
    font-family: HelveticaNeueLTStd;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
}
.icontable {
    padding-left: 20px;
}
.bookroom-icon img{
    width: 110px;
    height: 110px;
    float: right;
    margin-right: 10px;
    position: relative;
    top: 305px;
}
.number-a {
    color: #FCD043;
    font-family: HelveticaNeueLTStd;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    display: none;
}
.address {
    color: #FFFCF6;
    font-family: HelveticaNeueLTStd;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-top: 20px;
    display: none;
}
.caption {
    color: #FFFCF6;
    font-family: HelveticaNeueLTStd;
    font-size: 3.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    
}
.hall {
    font-style: italic;
}


/* SECTION ABOUT US */
.about-us {
    padding-top: 40px;
    background-color: #313F38;
    padding-bottom: 25px;
}
.aboutus-bg {
    background-image: url('../img/lines.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

}
.aboutus-logo {
    color: #FCD043;
    text-align: right;
    font-family: Miracle;
    font-size: 18.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: 18.7vw;
    text-transform: uppercase; 
    padding-top: 35px;
    padding-bottom: 35px;
    display: inline-block;
}

.aboutus-photo1 {
    background-image: url('../img/about-us1.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 55px;
}
.hq {
    color: #FFFCF6;
    font-family: Miracle;
    font-size: 9.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 9.3vw;
    text-transform: capitalize;
    margin-bottom: 25px;
} 
.aboutus-description {
    color: #FFFCF6;
    font-family: HelveticaNeueLTStd;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 9.3vw;
    width: 90%;
    opacity: 0.8;
}
.aboutus-label1 {
    float: right;
}
.aboutus-button {
    display: none;
}

/* SECTION ROOMS & APARTMENTS */
.rooms-apartments {
    background-color: #FFFCF6;
    padding-top: 70px;
}
.roomsamount {
    display: block;
    color: #1B3B36;
    font-family: HelveticaNeueLTStd;
    font-size: 4.4vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    text-align: right;
    padding-bottom: 30px;
} 
.rooms-label {
    color: #1B3B36;
    font-family: Miracle;
    font-size: 15.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 18.7vw;
    text-transform: uppercase;
}
.rooms-description {
    color: #1B3B36;
    font-family: HelveticaNeueLTStd;
    font-size: 3.8vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 50px 0;
    width: 50%;
}
.rooms-image1 {
    background-image: url('../img/rooms-img1.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 425px;
}
.number-of-page {
    color: #1B3B36;
    font-family: HelveticaNeueLTStd;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    padding: 45px 0 30px 0;
}
.four {
    color: rgba(27, 59, 54, 0.32);
}
.superiortwin {
    color: #1B3B36;
    font-family: Miracle;
    font-size: 9.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 9.4vw;
    text-transform: capitalize;
    padding-bottom: 50px;
}
.container-rooms {
    display: flex;
    justify-content: space-between;
}
.button-right img {
    width: 21.8vw;
    height: 21.8vw;
    margin-top: 5px;
    margin-right: 60px;
}
.superior-description {
    color: #1B3B36;
    font-family: HelveticaNeueLTStd;
    font-size: 4.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 7.2vw;
    opacity: 0.8;
    padding-bottom: 50px;
}
.line-long {
    opacity: 0.24;
    
}
.bookroom-icon-show img {
    width: 110px;
    height: 110px;
    float: right;
    margin-right: 10px;
    position: relative;
    top: 305px;
}


/* OUR FACILITIES */
.our-facilities {
    background-color: #FFFCF6;
    padding-top: 50px;
}
.caption4 {
    color: #1B3B36;
    text-align: right;
    font-family: HelveticaNeueLTStd;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.our-facilities-logo span{
    color: #1B3B36;
    font-family: Miracle;
    font-size: 16vw;
    font-style: normal;
    font-weight: 400;
    line-height: 16vw;
    text-transform: uppercase;
    display: block;

}
.our-facilities-logo {
    margin-left: 16vw;
    margin-bottom: 45px;
}
.star-icon {
    padding-right: 30px;
    padding-left: 30px;
}
.of-image1 {
    background-image: url('../img/ourfacilities-image1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 135px;
    width: 200px;
    margin: 0 auto;
}
.of-description {
    color: #1B3B36;
    font-family: HelveticaNeueLTStd;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 7.1vw;
    margin-top: 45px;
    margin-left: 135px;
    opacity: 0.8;
}


/* ICE RESTAURANT */
.ice-restaurant {
    background-color: #FFFCF6;
    padding-top: 70px;
}
.ice-restaurant-image {
    background-image: url('../img/ice-restaurant.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
}
.first {
    color: #1B3B36;
    text-align: center;
    font-family: Miracle;
    font-size: 9.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 9.3vw;
    text-transform: uppercase;
    padding-right: 100px;
}
.icerestaurant-logo {
    color: #1B3B36;
    font-family: Miracle;
    font-size: 9.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 9.3vw;
    text-transform: capitalize;
    width: 52.5vw;
}
.resrtaurant-container1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.resrtaurant-container2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.button-down2 img{
    width: 70px;
    margin-top: 10px;
}
.restaurant-description {
    width: 52.5vw;
    color: #1B3B36;
    font-family: HelveticaNeueLTStd;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 7.1vw;
    opacity: 0.8;
}

.conferencehall {
    padding-top: 50px;
    padding-bottom: 50px;
}
.winebar {
    padding-top: 50px;
}
.conferencehall-image {
    background-image: url('../img/conference-hall.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto;
}
.second {
    color: #1B3B36;
    font-family: Miracle;
    font-size: 9.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 9.3vw;
    text-transform: uppercase;
    text-align: right;
}
.conferencehall-logo {
    color: #1B3B36;
    text-align: center;
    font-family: Miracle;
    font-size: 7.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vw;
    text-transform: capitalize;
    padding: 40px 0;
}
.winebar-logo {
    color: #1B3B36;
    text-align: center;
    font-family: Miracle;
    font-size: 7.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vw;
    text-transform: capitalize;
    padding: 40px 0 70px 0;
}
.winebar-image {
    background-image: url('../img/wine-bar.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto;
    
}
.arrow {
    display: none;
}

/* BEST APARTMENTS */

.bg-apartaments {
    background-image: url('../img/conference-hall.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}
.apartaments-logo {
    color: #FCD043;
    font-family: Miracle;
    font-size: 16vw;
    font-style: normal;
    font-weight: 400;
    line-height: 16vw;
    text-transform: uppercase;
    padding-top: 70px;
    padding: 70px 10px 0 10px;
}
.yellowline {
    padding: 100px 0 150px 0;
}
.yellowline  {
    width: 100%;
}
.bigyellowline {
    display: none;
} 
.apartments-description {
    color:  #FCD043;
    font-family: HelveticaNeueLTStd;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-left: auto;
    width: 205px;
}
 /* OUR GALLERY */
 .gallery {
    background-color: #313F38;
    padding-top: 70px;
 }
 .label-gallery {
    text-align: center;
 }
 .gallery-logo {
    color: #FCD043;
    text-align: center;
    font-family: Miracle;
    font-size: 18.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: 18.7vw;
    text-transform: uppercase;
    padding-top: 5px;
 }
 .gallery-description {
    color: #FFFCF6;
    text-align: center;
    font-family: HelveticaNeueLTStd;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 7.1vw;
    opacity: 0.8;
    padding: 50px 10px;
 }
 .photos {
    position: relative;
    height: 450px;
 }
.photo1 {
    background-image: url('../img/gallery5.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 125px;
    height: 125px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.photo2 {
    background-image: url('../img/about-us1.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px; height: 205px;
    position: absolute;
    margin-top: 30px;
    z-index: 2;
}   
.photo3 {
    background-image: url('../img/gallery4.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    margin-right: -10px;
    margin-top: 75px;
    opacity: .4;
}
.photo4 {
    background-image: url('../img/best-apartaments.jfif');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 250px;
    position: absolute;
    margin-top: 100px;
    z-index: 3;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.photo5 {
    background-image: url('../img/gallery6.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 140px;
    position: absolute;
    margin-top: 280px;
    opacity: .4;
    margin-left: -10px;
}
.marks {
    display: none;
}
.caption-gallery {
    color: #FFFCF6;
    font-family: HelveticaNeueLTStd;
    font-size: 4.6vw;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    padding-bottom: 40px;
}
.caption-gallery img {
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

@media (min-width: 1025px) {
    .gallery {
        padding-top: 170px;
    }
    .gallery-logo {
        font-size: 125px;
        font-weight: 400;
        line-height: 60px;
        padding-top: 50px;
    }
    .gallery-description {
        font-size: 18px;
        line-height: 28px;
        width: 450px;
        margin: 0 auto;
        opacity: 0.8;
        padding: 70px 0;
    }
    .photos {
        position: relative;
        height: 650px;
    }
    
    .photo1 {
        background-image: url('../img/gallery4.jfif');
        background-position: center;
        width: 235px;
        height: 235px;
        right: 0;
        margin-top: -170px;
        margin-right: -20px;
    }
    .photo2 {
        background-image: url('../img/gallery2.jfif');
        background-position: top;
        width: 235px;
        height: 230px;
        position: absolute;
        margin-top: -170px;
        margin-left: -20px;
    }
    .photo3 {
        background-image: url('../img/gallery5.jfif');
        background-position: center;
        width: 335px;
        height: 215px;
        position: absolute;
        right: 0;
        margin-right: 0px;
        margin-top: 590px;
        opacity: 1;
    }
    .photo4 {
        background-image: url('../img/gallery1.jfif');
        background-position: right;
        width: 690px;
        height: 455px;
        position: absolute;
        margin-top: 20px;
        z-index: 3;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .photo5 {
        background-image: url('../img/gallery3.jfif');
        background-position: center;
        width: 215px;
        height: 295px;
        position: absolute;
        margin-top: 340px;
        opacity: 1;
        margin-left: 0px;
    }
    .marks {
        padding-top: 150px;
        display: block;
        color: rgba(255, 252, 246, 0.12);
        font-family: Miracle;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 120px;
        margin: 0 -20px;
        letter-spacing: 3px;
        padding-bottom: 200px;
            /* 120% */
    }
    .bankhotel {
        color: var(--White, #FFFCF6);
    }
    .caption-gallery {
        font-size: 22px;
        width: 350px;
        display: flex;
        padding-bottom: 40px;
        position: relative;
        left: 400px;
        margin-top: -150px;
    }
    .caption-gallery img {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }
}





@media (min-width: 1025px) {
    .bg-apartaments {
        background-image: url('../img/best-apartaments.jfif');
        background-repeat: no-repeat;
        background-position: center;
        height: 850px;
    }
    .apartaments-logo {
        font-size: 125px;
        width: 806px;
        line-height: 105px;
        padding-top: 70px;
        padding: 100px 20px 50px 20px;
    }
    .yellowline {
        display: none;
    }
    .bigyellowline {
        display: block;
        width: 100%;
    }
    .apartments-description {
        font-size: 18px;
        line-height: normal;
        width: 330px;
        position: relative;
        margin-left: 0;
        padding-left: 20px;
        bottom: 380px;
    }

}
@media (min-width: 1025px) {
    .ice-restaurant {
        padding-top: 250px;
        padding-bottom: 150px;
    }
    .ice-restaurant-image {
        height: 640px;
        width: 450px;
        margin-left: auto;
    }
    .first {
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        bottom: 650px; left: 350px;
    }
    .icerestaurant-logo {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 1.5px;
        position: relative;
        bottom: 370px;
        margin-right: 320px;
    }
    .resrtaurant-container2 {
        position: relative;
        bottom: 350px;
        justify-content: start;
        height: 0;
    }
    .button-down2 img {
        width: 150px;
        margin-top: 0px;
        margin-right: 200px;
    }
    .restaurant-description {
        font-size: 18px;
        line-height: 28px;
        width: 335px; 
    }
    .conferencehall {
        display: flex;
        justify-content: space-between;
    }
    .winebar {
        display: flex;
        justify-content: space-between;
    }
    .conferencehall-image {
        height: 215px;
        width: 215px;
        order: -1;
        margin: 0 0 50px 0;
    }
    .second {
        font-size: 50px;
        line-height: 50px;
        padding: 70px 0 0 0;
    }
    
    .conferencehall-logo {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 1.5px;
        padding: 70px 0 0 0;
    }
    .winebar-logo {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 1.5px;
        padding: 70px 0 0 0;
    }
    .winebar-image {
        height: 215px;
        width: 215px;
        order: -1;
        margin: 0;
        margin: 0 0 50px 0;
    }
    
    .arrow {
        display: block;
        padding: 80px 0 0 0;
    }
}




@media (min-width: 1025px) {
    .our-facilities {
        background-color: #FFFCF6;
        padding-top: 100px;
    }
    .caption4 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        order: -1;
    }
    .our-facilities-logo span {
        font-size: 125px;
        line-height: 105px;
        order: 1;
    }
    .of-container {
        display: flex;
        justify-content: space-between;
    }
    .of-image2 {
        background-image: url('../img/ourfacilities-image2.jfif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 335px;
        height: 215px;
        order: 3;
        margin-top: 90px;
    }
    .star-icon {
        height: 70px;
        padding-right: 50px;
        padding-left: 50px;
    }
    .of-image1 {
        height: 255px;
        width: 450px;
        margin: 0;
    }
    .of-description {
        font-size: 18px;
        line-height: 28px;
        margin-top: 110px;
        margin-left: 62px; 
        width: 350px;  
    }
    .of-container2 {
        display: flex;
        margin-top: 100px;
    }
}

@media (min-width: 1025px) {
    .roomsamount {
        display: none;
    }
    .rooms-label {
        font-size: 125px;
        line-height: 105px;
    }
    .container-rooms1 {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    .rooms-description{
        font-size: 18px;
        line-height: normal;
        padding: 0;
        width: 335px;
    }
    .container-rooms2 {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
    }
    .rooms-image1 {
        width: 570px;
        height: 750px;
        order: 1;
    }
    .rooms-image2 {
        background-image: url('../img/rooms-img2.jfif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 255px;
        width: 215px;
        order: -1;
    }
    .black {
        color: #1B3B36;
        border: 1px solid #313F38;
        margin-top: 0;
    }
    .bookroom-icon-show img {
        width: 165px;
        height: 165px;
        top: 570px;
    }
    .superiortwin {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.08px;
        text-align: center;
        margin-left: 295px;
    }
    .superior-description{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 335px;
    }
    .button-right img{
        width: 160px;
        height: 160px;
        margin-top: 100px;
    }
    .number-of-page{
        font-size: 22px;
        order: 3;
        text-align: center;
        margin-left: 135px;
    }
    .container-rooms3 {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: relative;
        bottom: 500px;
        height: 0;
        padding-bottom: 120px;
    }
}




@media (min-width: 1025px) {
    .aboutus-photo1 {
        width: 480px;
        height: 680px;
        margin-top: 120px;
        order: -1;
    }
    .aboutus-logo {
        font-size: 125px;
        line-height: 105px;
        text-align: right;
        display: inline-block;
        margin-top: 150px;
        position: relative;
        right: 15%;
    }
    .us {
        color: #FFFCF6;
    }
    .aboutus-photo2 {
        background-image: url('../img/abouts-us2.jfif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 360px;
        width: 240px;
        margin-top: 120px;
    }
    .aboutus-label1 {
        transform: rotate(-90deg);
        position: absolute;
        right: 15.5%; bottom: -645px;
    }
    .hq {
        line-height: normal;
        font-size: 36px;
        letter-spacing: 1.08px;  
    }
    .aboutus-description {
        font-size: 18px;
        line-height: 28px;
        opacity: 0.64;
        line-height: 28px;
    }
    .fer {
        width: 370px;
        height: 0;
        position: relative;
        left: 40%; bottom: 370px;
    }
    .about-wrap1{
        display: flex;
        justify-content: space-between;
    }
    .aboutus-button  {
        width: 150px;
        height: 0;
        display: block;
        position: relative;
        left: 85%; bottom: 210px;
    }
    .about-us {
        padding-bottom: 100px;
    }
}







@media (min-width: 1025px){
    .main-menu i {
        display: none;
    }
    .menu-list {
        position: static;
        display: flex;
    }
    .menu-list li:not(:last-child) {
        margin-right: 70px;
    }

    .header-top {
        height: 70px;
    }
    .number {
        display: block;
        color: #FFFCF6;
        font-family: HelveticaNeueLTStd;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
    }
    .content-wrap {
        padding: 0 20px;
    }
    .name {
        font-size: 170px;
        text-align: left;
        margin: 0;
    }
    .label-since {
        position: relative;
        display: flex;
        justify-content: center;
        
    }
    .button-down {
        display: block;
    }
    .header-bottom-bottom {
        display: flex;
        justify-content: space-between;
    }
    .textyellow {
        font-size: 18px;
        margin-top: 20px;
    }
    .description-header {
        font-size: 18px;
        width: 350px;
        text-align: left;
        margin-right: 110px;
    }
    .line {
        display: none;
    }
    .header-image {
        height: 580px;
    }
    .header-table {
        display: table;
    }
    .bookroom-icon {
        display: none;
    }
    .caption {
        font-size: 26px;
        float: right;
        padding-top: 20px; 
    }
    .number-a {
        padding-top: 20px;
        display: block;
    }
    .address {
        display: block;
        padding-bottom: 75px;
    }
}

@media (min-width: 481px) {
}
@media (min-width: 769px) {
}
@media (min-width: 1201px) {

}