<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankHotel | Номери</title>
    <script src="https://kit.fontawesome.com/69061d5a94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'hotel/reset.css' %}">
    <link rel="stylesheet" href="{% static 'hotel/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/star.png' %}">
</head>
<body>
    <header class="header" id="home">
        <div class="content-wrap">
          <nav class="header-top">
            <div class="logo">BankHotel</div>
            <div class="main-menu">
              <div id="menuIcons" class="main-menu_icons">
                <i id="iconOpen" class="fa-solid fa-equals"></i>
                <i id="iconClose" class="fa-solid fa-xmark hide"></i>
              </div>
              <ul id="mainMenu" class="menu-list hide">
                <li><a href={% url "index" %}>Головна</a></li>
                <li><a href="#aboutus">Про нас</a></li>
                <li><a href={% url "rooms" %}>Номери</a></li>
                <li><a href={% url "restaurant" %}>Ресторан</a></li>
                <li><a href={% url "conferencehall" %}>Конференц-зал</a></li>
                <li><a href="#contacts">Контакти</a></li>
              </ul>
            </div>
            <div class="number">+38 032 297 50 20</div>
          </nav>
        </div>
    </header>
    <section class="list-apartments">
        <div class="content-wrap">
        <h2 class="rooms-logo">Номери & апартаменти</h2>
        <p class="roomsdescription">Щоб зняти номер в готелі у Львові на добу, на ніч або довгостроково, рекомендуємо зупинитися на пропозиціях від BANKHOTEL. Наші гості гарантовано отримують кращі умови проживання в п’ятизірковому готелі, який має власну історію та вражає унікальними інтер’єрами. Комфортабельні номери запропоновані на різні смаки та бюджетні можливості.</p>
        <div class="roomsblock-wrap">
        <div class="wrapforrooms">
            <div class="room-block">
                <img src="{% static 'img/rooms&apart/page1/rooms-img1.jfif' %}" alt="">
                <h3 class="nameofroom">Двомісний люкс</h3>
                <div class="roomsize"><i class="fa-solid fa-check"></i>Площа : 24 м.кв.</div>
                <div class="roomprice"><i class="fa-solid fa-check"></i>Ціна : 5 800 UAH/за ніч</div>
                <a href={% url "superiortwin" %} class="btn-more-rooms">Детальніше ></a>
            </div>
            <div class="room-block">
                <img src="{% static 'img/rooms&apart/page2/rooms2-1.jpg' %}" alt="">
                <h3 class="nameofroom">Стандарт люкс</h3>
                <div class="roomsize"><i class="fa-solid fa-check"></i>Площа : 20 м.кв.</div>
                <div class="roomprice"><i class="fa-solid fa-check"></i>Ціна : 4 800 UAH/за ніч</div>
                <a href={% url "standartdeluxe" %} class="btn-more-rooms">Детальніше ></a>
            </div>
        </div>
        <div class="wrapforrooms">
            <div class="room-block">
                <img src="{% static 'img/rooms&apart/page3/rooms3-1.jpg' %}" alt="">
                <h3 class="nameofroom">Президентський Люкс</h3>
                <div class="roomsize"><i class="fa-solid fa-check"></i>Площа : 120 м.кв.</div>
                <div class="roomprice"><i class="fa-solid fa-check"></i>Ціна : 45 000 UAH/за ніч</div>
                <a href={% url "presidentialsuite" %} class="btn-more-rooms">Детальніше ></a>
            </div>
            <div class="room-block">
                <img src="{% static 'img/rooms&apart/page3/rooms3-1.jpg' %}" alt="">
                <h3 class="nameofroom">Прем'єр Люкс</h3>
                <div class="roomsize"><i class="fa-solid fa-check"></i>Площа : 100 м.кв.</div>
                <div class="roomprice"><i class="fa-solid fa-check"></i>Ціна : 40 000 UAH/за ніч</div>
                <a href={% url "premiersuite" %} class="btn-more-rooms">Детальніше ></a>
            </div>
        </div>
        </div>
    </div>
    </section>
    <section class="get-in-touch" id="contacts">
      <img src="{% static 'img/big-yellow-line.png' %}" alt="big-yellow-line" class="bigyellowline-bottom">
      <div class="content-wrap">
        <a href="tel:+380322975020" class="number-a bottom" data-aos="fade-right">
          +38 032 297 50 20
          </a>
        <span data-aos="fade-left" class="bottom-address">Листопадового Чину 8, Львів</span>
        <div class="getintouch-logo">
          <span  data-aos="fade-right">Будь на <img src="{% static 'img/Star-Footer.svg' %}" alt="Star-Icon" class="star-bottom"></span>
          <span  data-aos="fade-left" class="touch">Зв'язку</span>
        </div>
        <div class="gin-image"></div>
        <form action="{% url 'booking' %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Забронювати" class="bookroom-icon icon-bottom">
        </form>
        <div class="tb-bottom">
          <p class="find">Будемо вдячні за вашу думку, це важливо для нас:</p>
          <button class="accordion">Залиште свій відгук тут :)</button>
          <div class="panel">
            <form action="{% url 'index' %}" method="post" class="feedback-form">
              {% csrf_token %}
              <label for="nameinput">Ваше ім'я:</label>
              <input type="text" name="nameinput" id="nameinput" placeholder="Ім'я. . .">
              <br>
              <label for="phoneinput">Ваш номер телефону:</label>
              <input type="tel" name="phoneinput" id="phoneinput" placeholder="Номер телефону. . .">
              <br>
              <label for="feedbackinput">Ваш відгук:</label>
              <textarea name="feedbackinput" id="feedbackinput" placeholder="Відгук. . ."></textarea>
              <br>
              <input type="submit" class="feedbacksubmit" value="Надіслати">
            </form>
          </div>
        </div>
        <hr class="line-long">
        <div class="gin-container">
          <div class="aboutuss">
            <h2 class="style-gin"><span class="yellow">/</span>Про нас</h2>
            <p class="desc-gin">
              П'ятизірковий готель в красивому європейському місті з сучасним рестораном, конференц-залом і арт-баром.
            </p>
          </div>
          <div class="news">
            <h2 class="style-gin"><span class="yellow">/</span>Новини</h2>
            <p class="desc-gin">
              Підпишіться на нашу розсилку, щоб не пропустити ексклюзивні пропозиції та інформацію про майбутні події.
            </p>
            <form action="{% url 'index' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email" id="email" placeholder="EMAIL" class="inputemail">
              <input type="submit" class="emailsubmit" value="OK">
            </form>
          </div>
          <div class="social">
            <h2 class="style-gin"><span class="yellow">/</span>Соцмережі</h2>
            <div class="social-links">
              <a href="https://www.facebook.com/" target="_blank">facebook</a>
              <a href="https://www.instagram.com/" target="_blank">instagram</a>
              <a href="https://twitter.com/" target="_blank">twitter</a>
            </div>
          </div>
        </div>
        <p class="reserved">©2023 Всі права захищено. BankHotel</p>
      </div>
    </section>

      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
      <script src="{% static 'scripts/accordion.js' %}"></script>
      <script src="{% static 'scripts/scripts.js' %}"></script>
      <script src="{% static 'scripts/navbar.js' %}"></script>
</body>
</html>